Repository keycloak/keycloak-ui, pull requests merged in 2022-09, with the labels that each got.

#3194 Update Patternfly to 4.210
  apps/admin-ui/package.json
  package-lock.json
Labels: area/dependencies, status/hold, area/admin/ui

#3243 Use date picker for events filtering
  apps/admin-ui/src/events/AdminEvents.tsx
  apps/admin-ui/src/events/EventsSection.tsx
Labels: kind/enhancement, impact/low, area/section/events, area/admin/ui

#3290 Allow triggering Cypress workflow by dispatch
  .github/workflows/cypress.yml
Labels: priority/critical, area/integration-tests, area/admin/ui

#3291 Add inputs to specify Keycloak repo and branch
  .github/workflows/cypress.yml
Labels: priority/critical, area/integration-tests, area/admin/ui

#3258 Optimize dependencies with Rollup
  apps/admin-ui/cypress/e2e/clients_test.spec.ts
  apps/admin-ui/package.json
  apps/admin-ui/src/clients/keys/GenerateKeyDialog.tsx
  apps/admin-ui/src/clients/keys/ImportKeyDialog.tsx
  apps/admin-ui/src/components/dynamic/FileComponent.tsx
  apps/admin-ui/src/components/json-file-upload/FileUploadForm.tsx
  apps/admin-ui/src/components/json-file-upload/patternfly/FileUpload.tsx
  apps/admin-ui/src/components/json-file-upload/patternfly/FileUploadField.tsx
  apps/admin-ui/src/components/json-file-upload/patternfly/fileUtils.ts
  apps/admin-ui/vite.config.ts
  package-lock.json
Labels: kind/bug, priority/important

#3189 Add Keycloak JS to the project
  .eslintrc.js
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .gitignore
  apps/admin-ui/.gitignore
  apps/admin-ui/package.json
  keycloak-theme/pom.xml
  libs/keycloak-js/.gitignore
  libs/keycloak-js/.gitkeep
  libs/keycloak-js/README.md
  libs/keycloak-js/dist/keycloak-authz.d.ts
  libs/keycloak-js/dist/keycloak.d.ts
  libs/keycloak-js/package.json
  libs/keycloak-js/rollup.config.ts
  libs/keycloak-js/src/keycloak-authz.js
  libs/keycloak-js/src/keycloak.js
  libs/keycloak-js/tsconfig.json
  package-lock.json
  package.json
Labels: area/dependencies, kind/feature, priority/important, impact/low

#3245 Show policy type in form title
  apps/admin-ui/public/resources/en/clients.json
  apps/admin-ui/src/clients/authorization/policy/PolicyDetails.tsx
Labels: kind/enhancement, impact/low, area/section/clients, area/admin/ui

#3147 Reuse of token in TOTP is possible
  apps/admin-ui/public/resources/en/authentication-help.json
  apps/admin-ui/public/resources/en/authentication.json
  apps/admin-ui/src/authentication/policies/OtpPolicy.tsx
Labels: area/needs-api, kind/feature, impact/low, area/section/authentication, area/admin/ui

#3315 Always pass in `--host` for Vite dev server
  apps/admin-ui/package.json
Labels: kind/bug, area/integration-tests, area/admin/ui

#3317 Add Wireit to automatically build Keycloak JS
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .gitignore
  apps/admin-ui/package.json
  keycloak-theme/pom.xml
  libs/keycloak-js/package.json
  package-lock.json
  package.json
Labels: kind/enhancement, area/admin/ui, area/keycloak-js

#3332 Prevent Dependabot from updating react-router
  .github/dependabot.yml
Labels: kind/enhancement, area/dependencies

#3370 Fix path to keycloak theme readme
  apps/admin-ui/README.md
Labels: kind/bug, area/documentation

#3373 Adjusted initialization of admin-client-ui with different urls in hostname and hostname-admin
  apps/admin-ui/src/context/auth/AdminClient.tsx
Labels: kind/bug, priority/critical, impact/high, area/admin/ui

#3372 Add possibility to import custom styles by extending the theme
  keycloak-theme/pom.xml
Labels: kind/feature, area/admin/ui

#3441 Refactor release profiles
  keycloak-theme/pom.xml
Labels: kind/enhancement, status/hold, area/admin/ui
