Repository keycloak/keycloak-ui, pull requests merged in 2022-12, with the labels that each got.

#3814 Run CI on release branches
  .github/workflows/cypress.yml
  .github/workflows/main.yml
Labels: kind/enhancement

#3913 Add repo to Dependabot auto-merge
  .github/workflows/main.yml
Labels: kind/bug

#3921 Add PR number to Dependabot auto-merge
  .github/workflows/main.yml
Labels: kind/bug

#3922 Give CI workflow permissions to merge PR
  .github/workflows/main.yml
Labels: kind/bug

#3946 Add wait to 'enable user events' test
  apps/admin-ui/cypress/e2e/realm_settings_events_test.spec.ts
Labels: kind/bug, area/integration-tests, area/admin/ui

#3945 Allow extended write permissions for Dependabot auto-merge
  .github/workflows/main.yml
Labels: kind/bug

#3885 Use `react-hook-form` v7 for client scope form
  apps/admin-ui/cypress/e2e/client_scopes_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin_console/manage/client_scopes/CreateClientScopePage.ts
  apps/admin-ui/src/client-scopes/details/ScopeForm.tsx
  apps/admin-ui/src/client-scopes/form/ClientScopeForm.tsx
  apps/admin-ui/src/components/client-scope/ClientScopeTypes.tsx
Labels: kind/enhancement, area/section/client scopes, area/admin/ui

#3955 Use `react-hook-form` v7 for search dropdown form
  apps/admin-ui/src/clients/authorization/SearchDropdown.tsx
Labels: kind/enhancement, area/section/clients, area/admin/ui

#3953 Use `react-hook-form` v7 for scope details form
  apps/admin-ui/src/clients/authorization/ScopeDetails.tsx
Labels: kind/enhancement, area/section/clients, area/admin/ui

#3956 Upgrade `useParams()` to React Router v6
  apps/admin-ui/src/authentication/FlowDetails.tsx
  apps/admin-ui/src/client-scopes/details/MappingDetails.tsx
  apps/admin-ui/src/client-scopes/form/ClientScopeForm.tsx
  apps/admin-ui/src/clients/ClientDetails.tsx
  apps/admin-ui/src/clients/authorization/AuthorizationEvaluateResourcePolicies.tsx
  apps/admin-ui/src/clients/authorization/AuthorizationExport.tsx
  apps/admin-ui/src/clients/authorization/PermissionDetails.tsx
  apps/admin-ui/src/clients/authorization/ResourceDetails.tsx
  apps/admin-ui/src/clients/authorization/ScopeDetails.tsx
  apps/admin-ui/src/clients/authorization/policy/Aggregate.tsx
  apps/admin-ui/src/clients/authorization/policy/PolicyDetails.tsx
  apps/admin-ui/src/clients/scopes/DedicatedScopes.tsx
  apps/admin-ui/src/identity-providers/add/AddIdentityProvider.tsx
  apps/admin-ui/src/identity-providers/add/AddMapper.tsx
  apps/admin-ui/src/identity-providers/add/DetailSettings.tsx
  apps/admin-ui/src/identity-providers/add/OIDCGeneralSettings.tsx
  apps/admin-ui/src/realm-roles/RealmRoleTabs.tsx
  apps/admin-ui/src/realm-roles/UsersInRoleTab.tsx
  apps/admin-ui/src/realm-settings/ClientProfileForm.tsx
  apps/admin-ui/src/realm-settings/ExecutorForm.tsx
  apps/admin-ui/src/realm-settings/NewAttributeSettings.tsx
  apps/admin-ui/src/realm-settings/NewClientPolicyCondition.tsx
  apps/admin-ui/src/realm-settings/NewClientPolicyForm.tsx
  apps/admin-ui/src/realm-settings/RealmSettingsSection.tsx
  apps/admin-ui/src/realm-settings/keys/key-providers/KeyProviderForm.tsx
  apps/admin-ui/src/realm-settings/user-profile/AttributesGroupForm.tsx
  apps/admin-ui/src/realm-settings/user-profile/attribute/AttributeGeneralSettings.tsx
  apps/admin-ui/src/user-federation/UserFederationKerberosSettings.tsx
  apps/admin-ui/src/user-federation/UserFederationLdapSettings.tsx
  apps/admin-ui/src/user-federation/custom/CustomProviderSettings.tsx
  apps/admin-ui/src/user-federation/ldap/mappers/LdapMapperDetails.tsx
  apps/admin-ui/src/user-federation/ldap/mappers/LdapMapperList.tsx
  apps/admin-ui/src/user-federation/shared/ExtendedHeader.tsx
  apps/admin-ui/src/user-federation/shared/Header.tsx
  apps/admin-ui/src/user/UserConsents.tsx
  apps/admin-ui/src/user/UserSessions.tsx
  apps/admin-ui/src/user/UsersTabs.tsx
  apps/admin-ui/src/utils/useParams.ts
Labels: kind/enhancement, area/admin/ui

#3964 Download latest version of Chrome for Cypress tests
  .github/workflows/cypress.yml
Labels: kind/bug, area/integration-tests, area/admin/ui

#3973 Use routable tabs for identity provider details
  apps/admin-ui/src/identity-providers/add/DetailSettings.tsx
  apps/admin-ui/src/identity-providers/routes/IdentityProvider.ts
Labels: kind/enhancement, area/section/identity providers, area/admin/ui

#3975 Wrap `SamlKeysDialog` in `FormProvider`
  apps/admin-ui/src/clients/keys/SamlKeysDialog.tsx
Labels: kind/bug, area/section/clients, area/admin/ui

#4038 Downgrade Vite to version 3
  .github/dependabot.yml
  apps/account-ui/package.json
  apps/admin-ui/package.json
  libs/keycloak-masthead/package.json
  package-lock.json
Labels: kind/bug, area/dependencies, area/admin/ui

#4043 Stop copying `settings.xml` for Maven configuration
  .github/workflows/cypress.yml
Labels: kind/bug, area/integration-tests, area/admin/ui

#4045 Use `react-hook-form` v7 for client keys
  apps/admin-ui/src/clients/keys/GenerateKeyDialog.tsx
  apps/admin-ui/src/clients/keys/SamlImportKeyDialog.tsx
  apps/admin-ui/src/clients/keys/StoreSettings.tsx
Labels: kind/bug, area/section/clients, area/admin/ui

#4012 Updates to PatternFly 4.222
  apps/account-ui/package.json
  apps/admin-ui/package.json
  libs/keycloak-masthead/package.json
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/account/ui, area/admin/ui

#4072 move idp section to react hook forms v7
  apps/admin-ui/src/identity-providers/add/AddIdentityProvider.tsx
  apps/admin-ui/src/identity-providers/add/AddOpenIdConnect.tsx
  apps/admin-ui/src/identity-providers/add/AddSamlConnect.tsx
  apps/admin-ui/src/identity-providers/add/AdvancedSettings.tsx
  apps/admin-ui/src/identity-providers/add/DescriptorSettings.tsx
  apps/admin-ui/src/identity-providers/add/DetailSettings.tsx
  apps/admin-ui/src/identity-providers/add/DiscoverySettings.tsx
  apps/admin-ui/src/identity-providers/add/ExtendedNonDiscoverySettings.tsx
  apps/admin-ui/src/identity-providers/add/OIDCAuthentication.tsx
  apps/admin-ui/src/identity-providers/add/OIDCGeneralSettings.tsx
  apps/admin-ui/src/identity-providers/add/OpenIdConnectSettings.tsx
  apps/admin-ui/src/identity-providers/add/ReqAuthnConstraintsSettings.tsx
  apps/admin-ui/src/identity-providers/add/SamlConnectSettings.tsx
  apps/admin-ui/src/identity-providers/add/SamlGeneralSettings.tsx
  apps/admin-ui/src/identity-providers/component/ClientIdSecret.tsx
  apps/admin-ui/src/identity-providers/component/DiscoveryEndpointField.tsx
  apps/admin-ui/src/identity-providers/component/DisplayOrder.tsx
  apps/admin-ui/src/identity-providers/component/ExtendedFieldsForm.tsx
  apps/admin-ui/src/identity-providers/component/SwitchField.tsx
  apps/admin-ui/src/identity-providers/component/TextField.tsx
Labels: kind/enhancement, area/section/identity providers, area/admin/ui

#4071 Use `react-hook-form` v7 for WebauthnPolicy form
  apps/admin-ui/src/authentication/policies/WebauthnPolicy.tsx
Labels: kind/enhancement, area/section/authentication, area/admin/ui

#4080 Remove duplicate IntelliJ entries from `.gitignore`
  .gitignore
Labels: kind/enhancement
