Repository keycloak/keycloak-ui, pull requests merged in 2022-11, with the labels that each got.

#3551 Add 'Personal Info' form and masthead to Account UI
  .github/workflows/main.yml
  .gitignore
  apps/account-ui/.gitignore
  apps/account-ui/package.json
  apps/account-ui/public/avatar.svg
  apps/account-ui/public/locales/en/translation.json
  apps/account-ui/src/api.ts
  apps/account-ui/src/components/controls/TextControl.tsx
  apps/account-ui/src/components/keycloak-text-input/KeycloakTextInput.tsx
  apps/account-ui/src/components/page/Page.tsx
  apps/account-ui/src/environment.ts
  apps/account-ui/src/i18n.ts
  apps/account-ui/src/keycloak.ts
  apps/account-ui/src/main.tsx
  apps/account-ui/src/personal-info/PersonalInfo.tsx
  apps/account-ui/src/representations.ts
  apps/account-ui/src/root/PageHeader.tsx
  apps/account-ui/src/root/Root.module.css
  apps/account-ui/src/root/Root.tsx
  apps/account-ui/src/utils/joinPath.ts
  apps/account-ui/src/utils/usePromise.ts
  apps/admin-ui/.gitignore
  apps/admin-ui/src/environment.ts
  libs/keycloak-js/.gitignore
  libs/keycloak-js/package.json
  libs/keycloak-masthead/package.json
  libs/keycloak-masthead/src/KeycloakDropdown.tsx
  libs/keycloak-masthead/src/Masthead.tsx
  libs/keycloak-masthead/src/main.ts
  libs/keycloak-masthead/src/translation/TranslationsContext.tsx
  libs/keycloak-masthead/src/translation/translations.ts
  libs/keycloak-masthead/src/translation/useTranslation.ts
  libs/keycloak-masthead/src/util.ts
  libs/keycloak-masthead/tsconfig.json
  libs/keycloak-masthead/vite.config.ts
  package-lock.json
  package.json
Labels: kind/feature, area/account/ui

#3717 Update React Router to latest version
  apps/account-ui/package.json
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/account/ui

#3729 Allow login realm to be set during development
  apps/admin-ui/src/environment.ts
Labels: kind/enhancement, area/admin/ui

#3744 Use `react-hook-form` v7 for session revocation
  apps/admin-ui/package.json
  apps/admin-ui/src/sessions/RevocationModal.tsx
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/section/sessions, area/admin/ui

#3767 Wait for network requests to finish in events test
  apps/admin-ui/cypress/e2e/events_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin_console/manage/realm_settings/tabs/realmsettings_events_subtabs/AdminEventsSettingsTab.ts
Labels: kind/bug, priority/critical, area/integration-tests, area/admin/client

#3768 Add `server:import-client` script to Wireit configuration
  apps/admin-ui/package.json
Labels: kind/enhancement, area/admin/ui

#3771 Use `react-form-hook` v7 for user IDP modal
  apps/admin-ui/cypress/support/pages/admin_console/manage/users/user_details/tabs/IdentityProviderLinksTab.ts
  apps/admin-ui/src/user/UserIdPModal.tsx
  apps/admin-ui/src/user/UserIdentityProviderLinks.tsx
  apps/admin-ui/src/user/UsersTabs.tsx
Labels: kind/enhancement, area/section/users, area/admin/client

#3772 Split out Keycloak dev server into seperate app
  apps/admin-ui/README.md
  apps/admin-ui/package.json
  apps/keycloak-server/README.md
  apps/keycloak-server/package.json
  apps/keycloak-server/scripts/import-client.mjs
  apps/keycloak-server/scripts/security-admin-console-v2.json
  apps/keycloak-server/scripts/start-server.mjs
  package-lock.json
  package.json
Labels: kind/enhancement, area/admin/ui

#3781 Add support for CryptoInfoRepresentation to ServerInfoRepresentation …
  libs/keycloak-admin-client/src/defs/serverInfoRepesentation.ts
Labels: kind/enhancement, area/admin/client

#3773 Use `Object.hasOwn()` instead of `Object.prototype.hasOwnProperty()`
  apps/admin-ui/src/util.ts
Labels: kind/enhancement, area/admin/ui

#3776 Use `react-form-hook` v7 for bind flow dialog
  apps/admin-ui/src/authentication/BindFlowDialog.tsx
Labels: kind/enhancement, area/section/authentication, area/admin/ui

#3785 Use `react-form-hook` v7 for flow form
  apps/admin-ui/src/authentication/DuplicateFlowModal.tsx
  apps/admin-ui/src/authentication/EditFlowModal.tsx
  apps/admin-ui/src/authentication/form/CreateFlow.tsx
  apps/admin-ui/src/authentication/form/FlowType.tsx
  apps/admin-ui/src/authentication/form/NameDescription.tsx
Labels: kind/enhancement, area/section/authentication, area/admin/ui

#3788 Move translations from `attributes-groups.json` to `realm-settings.json`
  apps/admin-ui/public/resources/en/attributes-group.json
  apps/admin-ui/public/resources/en/realm-settings.json
  apps/admin-ui/src/i18n.ts
  apps/admin-ui/src/realm-settings/routes/EditAttributesGroup.ts
  apps/admin-ui/src/realm-settings/routes/NewAttributesGroup.ts
  apps/admin-ui/src/realm-settings/user-profile/AttributesGroupForm.tsx
  apps/admin-ui/src/realm-settings/user-profile/AttributesGroupTab.tsx
Labels: kind/bug, area/section/realm settings, area/admin/ui

#3789 Use `react-hook-form` v7 for edit flow modal
  apps/admin-ui/src/authentication/components/EditFlow.tsx
Labels: kind/enhancement, area/section/authentication, area/admin/ui

#3791 Use `react-hook-form` v7 for OTP policy form
  apps/admin-ui/src/authentication/policies/OtpPolicy.tsx
  libs/keycloak-admin-client/src/defs/realmRepresentation.ts
Labels: kind/enhancement, area/section/authentication, area/admin/client

#3805 Add ESLint `import` plugin and use recommended config
  .eslintrc.js
  apps/account-ui/src/main.tsx
  apps/account-ui/vite.config.ts
  apps/admin-ui/cypress/e2e/clients_test.spec.ts
  apps/admin-ui/src/authentication/components/diagram/auto-layout.ts
  apps/admin-ui/src/authentication/policies/PasswordPolicy.tsx
  apps/admin-ui/src/client-scopes/details/MappingDetails.tsx
  apps/admin-ui/src/clients/authorization/AuthorizationExport.tsx
  apps/admin-ui/src/clients/authorization/DetailDescription.tsx
  apps/admin-ui/src/clients/authorization/Permissions.tsx
  apps/admin-ui/src/clients/authorization/Policies.tsx
  apps/admin-ui/src/clients/authorization/Scopes.tsx
  apps/admin-ui/src/clients/import/ImportForm.tsx
  apps/admin-ui/src/clients/initial-access/CreateInitialAccessToken.tsx
  apps/admin-ui/src/clients/initial-access/InitialAccessTokenList.tsx
  apps/admin-ui/src/clients/keys/ExportSamlKeyDialog.tsx
  apps/admin-ui/src/clients/keys/Keys.tsx
  apps/admin-ui/src/clients/keys/SamlKeys.tsx
  apps/admin-ui/src/clients/keys/SamlKeysDialog.tsx
  apps/admin-ui/src/components/bread-crumb/GroupBreadCrumbs.tsx
  apps/admin-ui/src/components/download-dialog/DownloadDialog.tsx
  apps/admin-ui/src/components/list-empty-state/ListEmptyState.tsx
  apps/admin-ui/src/components/permission-tab/PermissionTab.tsx
  apps/admin-ui/src/groups/GroupTable.tsx
  apps/admin-ui/src/groups/Members.tsx
  apps/admin-ui/src/i18n.ts
  apps/admin-ui/src/identity-providers/IdentityProvidersSection.tsx
  apps/admin-ui/src/identity-providers/add/AddSamlConnect.tsx
  apps/admin-ui/src/main.tsx
  apps/admin-ui/src/realm-settings/PartialExport.tsx
  apps/admin-ui/src/realm-settings/PoliciesTab.tsx
  apps/admin-ui/src/realm-settings/ProfilesTab.tsx
  apps/admin-ui/src/realm-settings/user-profile/AttributesGroupTab.tsx
  apps/admin-ui/src/realm-settings/user-profile/AttributesTab.tsx
  apps/admin-ui/src/user/UserProfileFields.tsx
  apps/admin-ui/src/util.ts
  apps/admin-ui/vite.config.ts
  apps/admin-ui/vitest.setup.ts
  libs/keycloak-masthead/vite.config.ts
  package-lock.json
  package.json
Labels: kind/enhancement, area/dependencies

#3804 Upload Keycloak server logs when running Cypress
  .github/workflows/cypress.yml
Labels: kind/enhancement, area/integration-tests

#3813 Use `react-hook-form` v7 for events section
  apps/admin-ui/src/events/EventsSection.tsx
Labels: kind/enhancement, area/section/events, area/admin/ui

#3816 Use `string` type for dates for `findEvents` method
  libs/keycloak-admin-client/src/resources/realms.ts
Labels: kind/bug, area/admin/client

#3825 Upload server logs even when tests fail
  .github/workflows/cypress.yml
Labels: kind/bug, area/integration-tests, area/admin/ui

#3823 Make form attribute conversion type-safe
  apps/admin-ui/src/util.ts
  apps/admin-ui/src/utils/types.ts
Labels: kind/enhancement, area/admin/ui

#3868 Use `react-hook-form` v7 for add sub-flow modal
  apps/admin-ui/src/authentication/components/modals/AddSubFlowModal.tsx
Labels: kind/enhancement, area/section/authentication, area/admin/ui

#3869 Make `convertAttributeNameToForm` type-safe
  apps/admin-ui/src/util.ts
Labels: kind/enhancement, area/admin/ui

#3887 Use `react-hook-form` v7 for add host dialog form
  apps/admin-ui/src/clients/advanced/AddHostDialog.tsx
Labels: kind/enhancement, area/section/clients, area/admin/client

#3893 Only cancel CI jobs on pushes for PRs
  .github/workflows/cypress.yml
  .github/workflows/main.yml
Labels: kind/enhancement

#3886 Remove unused `MultivaluedScopesComponent` component
  apps/admin-ui/src/components/dynamic/MultivaluedScopesComponent.tsx
Labels: kind/enhancement, area/admin/ui

#3897 Add worflow name to concurrency group
  .github/workflows/cypress.yml
  .github/workflows/main.yml
Labels: kind/bug

#3899 Replace Axios with the Fetch API
  apps/admin-ui/src/components/alert/Alerts.tsx
  apps/admin-ui/src/context/RealmsContext.tsx
  apps/admin-ui/src/context/auth/AdminClient.tsx
  libs/keycloak-admin-client/README.md
  libs/keycloak-admin-client/package.json
  libs/keycloak-admin-client/src/client.ts
  libs/keycloak-admin-client/src/index.ts
  libs/keycloak-admin-client/src/resources/agent.ts
  libs/keycloak-admin-client/src/resources/users.ts
  libs/keycloak-admin-client/src/utils/auth.ts
  libs/keycloak-admin-client/src/utils/fetchWithError.ts
  package-lock.json
Labels: kind/enhancement, area/admin/ui, area/admin/client

#3894 Automatically merge Dependabot PRs when CI passes
  .github/workflows/main.yml
Labels: kind/enhancement
