Repository keycloak/keycloak-ui, pull requests merged in 2022-10, with the labels that each got.

#3443 Add a `<base>` element for relative URLs
  apps/admin-ui/index.html
  keycloak-theme/pom.xml
Labels: kind/enhancement, area/admin/ui

#3471 Use Keycloak config endpoint in production
  apps/admin-ui/src/context/auth/AdminClient.tsx
Labels: kind/bug, priority/critical, impact/high, area/admin/ui

#3454 Added group id to assigned-roles data table key to reload when navigating groups
  apps/admin-ui/src/components/role-mapping/RoleMapping.tsx
Labels: kind/bug, area/section/clients, area/section/groups

#3485 Stop running Cypress tests in parallel
  .github/workflows/cypress.yml
  apps/admin-ui/cypress.config.mjs
Labels: kind/bug, priority/critical, area/integration-tests, area/admin/ui

#3494 Fixed the saml tests
  apps/admin-ui/src/identity-providers/add/DetailSettings.tsx
  apps/admin-ui/src/identity-providers/add/SamlGeneralSettings.tsx
Labels: kind/bug, priority/important, area/integration-tests, area/admin/ui

#3410 Initial version of the Account UI
  apps/account-ui/.gitignore
  apps/account-ui/.gitkeep
  apps/account-ui/index.html
  apps/account-ui/package.json
  apps/account-ui/public/favicon.svg
  apps/account-ui/public/locales/en/translation.json
  apps/account-ui/public/logo.svg
  apps/account-ui/src/account-security/DeviceActivity.tsx
  apps/account-ui/src/account-security/LinkedAccounts.tsx
  apps/account-ui/src/account-security/SigningIn.tsx
  apps/account-ui/src/applications/Applications.tsx
  apps/account-ui/src/environment.ts
  apps/account-ui/src/groups/Groups.tsx
  apps/account-ui/src/i18n.ts
  apps/account-ui/src/main.tsx
  apps/account-ui/src/personal-info/PersonalInfo.tsx
  apps/account-ui/src/react-i18next.d.ts
  apps/account-ui/src/resources/Resources.tsx
  apps/account-ui/src/root/ErrorPage.tsx
  apps/account-ui/src/root/PageHeader.module.css
  apps/account-ui/src/root/PageHeader.tsx
  apps/account-ui/src/root/PageNav.tsx
  apps/account-ui/src/root/Root.tsx
  apps/account-ui/src/root/RootIndex.tsx
  apps/account-ui/src/routes.tsx
  apps/account-ui/src/vite-env.d.ts
  apps/account-ui/tsconfig.json
  apps/account-ui/vite.config.ts
  package-lock.json
  package.json
Labels: kind/feature, area/account/ui

#3536 Fix users test by awaiting credentials API call
  apps/admin-ui/cypress/support/pages/admin_console/manage/users/CredentialsPage.ts
Labels: kind/bug, priority/important, area/integration-tests, area/admin/ui

#3537 Run Cypress tests in parallel again
  .github/workflows/cypress.yml
Labels: kind/enhancement, area/integration-tests, area/admin/ui

#3544 Re-enable test retries for Cypress
  apps/admin-ui/cypress.config.mjs
Labels: kind/enhancement, area/integration-tests, area/admin/ui

#3548 Remove optional param from new permission route
  apps/admin-ui/src/clients/routes/NewPermission.ts
Labels: kind/bug, priority/important, area/section/clients, area/admin/ui

#3550 Ask users to test nightly before reporting issue
  .github/issue_template.md
Labels: kind/enhancement

#3549 Run CI jobs for the Account UI
  .github/workflows/main.yml
  apps/account-ui/vite.config.ts
  apps/admin-ui/vite.config.ts
Labels: kind/enhancement, area/account/ui

#3472 Allow user and admin attribute permissions to be independantly set
  apps/admin-ui/src/realm-settings/user-profile/attribute/AttributePermission.tsx
Labels: kind/bug, area/section/realm settings, area/admin/ui

#3619 Improve flow for testing e-mail server settings
  apps/admin-ui/cypress/e2e/realm_settings_tabs_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin_console/Masthead.ts
  apps/admin-ui/cypress/support/util/AdminClient.ts
  apps/admin-ui/public/resources/en/realm-settings.json
  apps/admin-ui/src/components/alert/AlertPanel.tsx
  apps/admin-ui/src/realm-settings/AddUserEmailModal.tsx
  apps/admin-ui/src/realm-settings/EmailTab.tsx
  apps/admin-ui/src/utils/useCurrentUser.ts
Labels: kind/bug, status/needs-ux-approval, priority/critical, impact/high, area/section/realm settings, area/admin/ui

#3633 Add labels for supported applications to 'OTP Policy'
  apps/admin-ui/cypress/e2e/authentication_policies.spec.ts
  apps/admin-ui/cypress/support/pages/admin_console/manage/authentication/OTPPolicies.ts
  apps/admin-ui/public/resources/en/authentication.json
  apps/admin-ui/src/authentication/policies/OtpPolicy.tsx
Labels: kind/bug, status/needs-ux-approval, priority/critical, impact/medium, area/integration-tests, area/section/authentication, area/admin/ui

#3640 sessions test bug fix
  apps/admin-ui/cypress/e2e/sessions_test.spec.ts
Labels: kind/bug, area/integration-tests, area/section/sessions, area/admin/ui

#3646 Ensure list of supported applications is stable
  apps/admin-ui/cypress/e2e/authentication_policies.spec.ts
  apps/admin-ui/cypress/support/pages/admin_console/manage/authentication/OTPPolicies.ts
  apps/admin-ui/public/resources/en/authentication-help.json
  apps/admin-ui/public/resources/en/authentication.json
  apps/admin-ui/public/resources/ja/authentication-help.json
  apps/admin-ui/src/authentication/policies/OtpPolicy.tsx
  apps/admin-ui/src/authentication/policies/otp-policy.css
Labels: kind/bug, priority/critical, impact/low, area/section/authentication, area/admin/ui

#3675 Use correct namespace for i18n types
  apps/account-ui/src/react-i18next.d.ts
Labels: kind/bug, area/account/ui

#3673 Remove hard dependency on `babel-loader`
  apps/admin-ui/package.json
  package-lock.json
Labels: kind/bug, area/dependencies, area/admin/ui

#3669 Stop using Keycloak config endpoint for Admin Client
  apps/admin-ui/src/context/auth/AdminClient.tsx
Labels: kind/enhancement, area/admin/ui
