Repository keycloak/keycloak-ui, pull requests merged in 2023-02, with the labels that each got.

#4308 Run main CI workflow without caching
  .github/workflows/main.yml
  libs/keycloak-admin-client/.eslintignore
Labels: kind/enhancement

#4300 Add CIBA policy tab to authentication policies
  apps/admin-ui/public/resources/en/authentication-help.json
  apps/admin-ui/public/resources/en/authentication.json
  apps/admin-ui/public/resources/en/common.json
  apps/admin-ui/src/authentication/policies/CibaPolicy.tsx
  apps/admin-ui/src/authentication/policies/Policies.tsx
Labels: kind/feature, area/section/authentication, area/admin/ui

#4313 Added aria-label to MultivaluedStringComponent
  apps/admin-ui/src/components/dynamic/MultivaluedStringComponent.tsx
Labels: kind/bug, impact/low, area/admin/ui

#4306 Added stringify in MultiValuedStringComponent
  apps/admin-ui/src/components/dynamic/MultivaluedStringComponent.tsx
Labels: kind/bug, area/admin/ui

#4276 Update PatternFly to latest versions
  apps/account-ui/package.json
  apps/admin-ui/package.json
  libs/keycloak-masthead/package.json
  package-lock.json
Labels: area/dependencies

#4319 Build Admin Client before running Cypress component tests
  apps/admin-ui/package.json
Labels: kind/bug, priority/critical, area/admin/ui

#4323 Use `crypto.randomUUID()` for random ID generation
  apps/account-ui/src/components/alerts/Alerts.tsx
  apps/admin-ui/cypress/e2e/client_authorization_test.spec.ts
  apps/admin-ui/cypress/e2e/client_scopes_test.spec.ts
  apps/admin-ui/cypress/e2e/clients_test.spec.ts
  apps/admin-ui/cypress/e2e/group_test.spec.ts
  apps/admin-ui/cypress/e2e/realm_roles_test.spec.ts
  apps/admin-ui/cypress/e2e/realm_settings_client_policies_test.spec.ts
  apps/admin-ui/cypress/e2e/realm_settings_client_profiles_test.spec.ts
  apps/admin-ui/cypress/e2e/realm_settings_events_test.spec.ts
  apps/admin-ui/cypress/e2e/realm_settings_general_tab_test.spec.ts
  apps/admin-ui/cypress/e2e/realm_settings_tabs_test.spec.ts
  apps/admin-ui/cypress/e2e/realm_settings_user_profile_tab.spec.ts
  apps/admin-ui/cypress/e2e/realm_test.spec.ts
  apps/admin-ui/cypress/e2e/users_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/users/user_details/UserDetailsPage.ts
  apps/admin-ui/src/components/alert/AlertPanel.tsx
  apps/admin-ui/src/components/alert/Alerts.tsx
  apps/admin-ui/src/components/dynamic/MapComponent.tsx
Labels: kind/enhancement

#4318 Add Cypress tests for CIBA policy
  apps/admin-ui/cypress/e2e/authentication_policies_ciba.spec.ts
  apps/admin-ui/cypress/support/forms/Form.ts
  apps/admin-ui/cypress/support/forms/FormValidation.ts
  apps/admin-ui/cypress/support/forms/Select.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/authentication/CIBAPolicyPage.ts
  apps/admin-ui/src/authentication/policies/Policies.tsx
Labels: kind/enhancement, area/integration-tests, area/section/authentication, area/admin/ui

#4345 Fix broken imports by importing from `ui-shared`
  apps/account-ui/src/account-security/SigningIn.tsx
Labels: kind/bug, priority/critical, area/account/ui

#4346 Clean up realm selector code
  apps/admin-ui/cypress/support/pages/admin-ui/SidebarPage.ts
  apps/admin-ui/src/components/realm-selector/RealmSelector.tsx
Labels: kind/enhancement, area/admin/ui

#4351 Introduce `useStoredState()` hook
  apps/admin-ui/package.json
  apps/admin-ui/src/components/help-enabler/HelpHeader.tsx
  apps/admin-ui/src/components/table-toolbar/KeycloakDataTable.tsx
  apps/admin-ui/src/utils/useStorageItem.ts
  apps/admin-ui/src/utils/useStoredState.ts
  package-lock.json
Labels: kind/enhancement, area/admin/ui

#4355 Use a seperate context to keep track of recent realms
  apps/admin-ui/src/App.tsx
  apps/admin-ui/src/components/realm-selector/RealmSelector.tsx
  apps/admin-ui/src/components/realm-selector/recent-used.ts
  apps/admin-ui/src/context/RealmsContext.tsx
  apps/admin-ui/src/context/RecentRealms.tsx
  apps/admin-ui/src/context/realm-context/RealmContext.tsx
  apps/admin-ui/src/utils/useStorageItem.ts
Labels: kind/enhancement, area/admin/ui

#4357 Fix realms fetching in `RealmsContext`
  apps/admin-ui/src/context/RealmsContext.tsx
Labels: kind/bug, area/admin/ui

#4359 Immediately close realm selector when navigation starts
  apps/admin-ui/src/components/realm-selector/RealmSelector.tsx
Labels: kind/bug, priority/critical, area/admin/ui

#4360 Memoize possibly expensive operations in realm selector
  apps/admin-ui/public/resources/en/common.json
  apps/admin-ui/src/components/realm-selector/RealmSelector.tsx
Labels: kind/enhancement, area/admin/ui

#4309 moved components out of body
  apps/admin-ui/src/PageHeader.tsx
  apps/admin-ui/src/PageNav.tsx
  apps/admin-ui/src/authentication/AuthenticationSection.tsx
  apps/admin-ui/src/client-scopes/ClientScopesSection.tsx
  apps/admin-ui/src/client-scopes/details/MapperList.tsx
  apps/admin-ui/src/clients/ClientsSection.tsx
  apps/admin-ui/src/clients/add/NewClientForm.tsx
  apps/admin-ui/src/clients/authorization/Policies.tsx
  apps/admin-ui/src/clients/authorization/Resources.tsx
  apps/admin-ui/src/clients/authorization/Scopes.tsx
  apps/admin-ui/src/clients/scopes/ClientScopes.tsx
  apps/admin-ui/src/components/table-toolbar/KeycloakDataTable.tsx
  apps/admin-ui/src/events/AdminEvents.tsx
  apps/admin-ui/src/realm-settings/PartialImport.tsx
  apps/admin-ui/src/realm-settings/event-config/AddEventTypesDialog.tsx
  apps/admin-ui/src/realm-settings/event-config/EventsTab.tsx
  apps/admin-ui/src/realm-settings/event-config/EventsTypeTable.tsx
  apps/admin-ui/src/realm-settings/keys/KeysListTab.tsx
  apps/admin-ui/src/sessions/SessionsTable.tsx
  apps/admin-ui/src/user/UserGroups.tsx
Labels: kind/bug, area/admin/ui

#4363 Fix 'Home URL' link in clients overview
  apps/admin-ui/src/clients/ClientsSection.tsx
  apps/admin-ui/src/components/external-link/FormattedLink.tsx
Labels: kind/bug, area/section/clients, area/admin/ui

#4375 Update React Hook Form to latest version
  apps/account-ui/package.json
  apps/admin-ui/package.json
  libs/ui-shared/package.json
  package-lock.json
Labels: area/dependencies

#4315 feat: support multi hd in GoogleIdentityProvider
  apps/admin-ui/public/resources/en/identity-providers-help.json
Labels: kind/enhancement, area/section/identity providers, area/admin/ui, team/ui

#4272 Upgrade to React 18
  .github/dependabot.yml
  apps/account-ui/package.json
  apps/account-ui/src/i18next.d.ts
  apps/account-ui/src/main.tsx
  apps/account-ui/src/resources/PermissionRequest.tsx
  apps/admin-ui/cypress/e2e/client_authorization_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/realm_roles/CreateRealmRolePage.ts
  apps/admin-ui/package.json
  apps/admin-ui/src/PageHeader.tsx
  apps/admin-ui/src/authentication/policies/CibaPolicy.tsx
  apps/admin-ui/src/clients/ClientsSection.tsx
  apps/admin-ui/src/clients/add/LogoutPanel.tsx
  apps/admin-ui/src/clients/authorization/policy/NameDescription.tsx
  apps/admin-ui/src/clients/authorization/policy/PolicyDetails.tsx
  apps/admin-ui/src/components/alert/Alerts.tsx
  apps/admin-ui/src/components/help-enabler/HelpHeader.tsx
  apps/admin-ui/src/components/scroll-form/ScrollPanel.tsx
  apps/admin-ui/src/components/table-toolbar/KeycloakDataTable.tsx
  apps/admin-ui/src/context/RealmsContext.tsx
  apps/admin-ui/src/context/RecentRealms.tsx
  apps/admin-ui/src/context/access/Access.tsx
  apps/admin-ui/src/context/realm-context/RealmContext.tsx
  apps/admin-ui/src/context/server-info/ServerInfoProvider.tsx
  apps/admin-ui/src/context/whoami/WhoAmI.tsx
  apps/admin-ui/src/groups/SubGroupsContext.tsx
  apps/admin-ui/src/i18next.d.ts
  apps/admin-ui/src/identity-providers/add/OpenIdConnectSettings.tsx
  apps/admin-ui/src/main.tsx
  apps/admin-ui/src/realm-settings/LocalizationTab.tsx
  apps/admin-ui/src/realm-settings/user-profile/UserProfileContext.tsx
  apps/admin-ui/src/realm-settings/user-profile/attribute/AttributeGeneralSettings.tsx
  apps/admin-ui/src/user-federation/ldap/LdapSettingsGeneral.tsx
  apps/admin-ui/src/utils/useSetTimeout.test.ts
  apps/admin-ui/src/utils/useToggle.test.ts
  libs/keycloak-masthead/package.json
  libs/ui-shared/package.json
  libs/ui-shared/src/alerts/Alerts.tsx
  libs/ui-shared/src/controls/SelectControl.tsx
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/account/ui, area/admin/ui

#4389 Remove WebPack pre-proccessor from Cypress config
  apps/admin-ui/cypress.config.mjs
  apps/admin-ui/package.json
  package-lock.json
Labels: kind/enhancement, area/integration-tests, area/admin/ui

#4394 Upgrade to Vite version 4
  .github/dependabot.yml
  apps/account-ui/package.json
  apps/account-ui/vite.config.ts
  apps/admin-ui/package.json
  apps/admin-ui/vite.config.ts
  libs/keycloak-masthead/package.json
  libs/keycloak-masthead/vite.config.ts
  libs/ui-shared/package.json
  libs/ui-shared/vite.config.ts
  package-lock.json
Labels: kind/enhancement, area/dependencies

#4411 Use new root API to render Account UI
  apps/account-ui/src/main.tsx
Labels: kind/enhancement, area/account/ui

#4412 Pass translated values instead of strings to `ContinueCancelModal`
  apps/account-ui/public/locales/en/translation.json
  apps/account-ui/src/account-security/DeviceActivity.tsx
  libs/ui-shared/src/continue-cancel/ContinueCancelModal.tsx
Labels: kind/bug, area/account/ui
