Repository keycloak/keycloak-ui, pull requests merged in 2023-01, with the labels that each got.

#4112 Identity provider link is not displayed when display name is empty
  apps/admin-ui/src/identity-providers/IdentityProvidersSection.tsx
Labels: kind/bug, impact/medium, area/section/identity providers, area/account/ui

#3986 JKS keystore type available as default option in FIPS mode
  apps/admin-ui/cypress/e2e/clients_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/clients/client_details/tabs/KeysTab.ts
  apps/admin-ui/src/clients/keys/GenerateKeyDialog.tsx
  apps/admin-ui/src/clients/keys/ImportKeyDialog.tsx
Labels: kind/bug, area/section/clients, area/admin/ui

#4114 Use React Router v6 for the routable tabs of user details
  apps/admin-ui/src/components/routable-tabs/RoutableTabs.tsx
  apps/admin-ui/src/user/CreateUser.tsx
  apps/admin-ui/src/user/EditUser.tsx
  apps/admin-ui/src/user/UserForm.tsx
  apps/admin-ui/src/user/UsersTabs.tsx
  apps/admin-ui/src/user/routes/AddUser.ts
  apps/admin-ui/src/user/routes/User.ts
Labels: kind/enhancement, area/section/users, area/account/ui

#4118 Use React Router v6 for the routable tabs of authentication page
  apps/admin-ui/src/authentication/AuthenticationSection.tsx
Labels: kind/enhancement, area/section/authentication, area/admin/ui

#4119 Use React Router v6 for the routable tabs of dashboard page
  apps/admin-ui/src/dashboard/Dashboard.tsx
Labels: kind/feature, area/section/dashboard, area/admin/ui

#4123 Use React Router v6 for the routable tabs of clients page
  apps/admin-ui/src/clients/ClientsSection.tsx
Labels: kind/enhancement, area/section/clients, area/admin/ui

#4124 Use React Router v6 for the routable tabs of client scope page
  apps/admin-ui/src/client-scopes/CreateClientScope.tsx
  apps/admin-ui/src/client-scopes/EditClientScope.tsx
  apps/admin-ui/src/client-scopes/form/ClientScopeForm.tsx
  apps/admin-ui/src/client-scopes/routes/ClientScope.ts
  apps/admin-ui/src/client-scopes/routes/NewClientScope.ts
Labels: kind/enhancement, area/section/client scopes, area/admin/ui

#4125 Use React Router v6 for the routable tabs of the realm settings page
  apps/admin-ui/src/realm-settings/RealmSettingsTabs.tsx
Labels: kind/enhancement, area/section/realm settings, area/admin/ui

#4126 Use React Router v6 for the routable tabs of the user federation LDAP settings page
  apps/admin-ui/src/user-federation/CreateUserFederationLdapSettings.tsx
  apps/admin-ui/src/user-federation/UserFederationLdapForm.tsx
  apps/admin-ui/src/user-federation/UserFederationLdapSettings.tsx
  apps/admin-ui/src/user-federation/routes/NewLdapUserFederation.ts
  apps/admin-ui/src/user-federation/routes/UserFederationLdap.ts
Labels: kind/enhancement, area/section/user federation, area/admin/ui

#4129 Use React Router v6 for the routable tabs of the realm settings keys page
  apps/admin-ui/src/realm-settings/keys/KeysTab.tsx
Labels: kind/enhancement, area/section/realm settings, area/admin/ui

#4130 Use React Router v6 for the routable tabs of the users page
  apps/admin-ui/src/user/UsersSection.tsx
Labels: kind/enhancement, area/section/users, area/account/ui

#4131 Use React Router v6 for the routable tabs of the dedicated scope page
  apps/admin-ui/src/clients/scopes/DedicatedScopes.tsx
Labels: kind/enhancement, area/section/users, area/admin/ui

#4128 Add `clear-data` script to Keycloak server
  apps/keycloak-server/package.json
Labels: kind/enhancement

#4132 Use React Router v6 for the routable tabs of the client page
  apps/admin-ui/src/clients/ClientDetails.tsx
Labels: kind/enhancement, area/section/clients, area/admin/ui

#4135 Use React Router v6 for the routable tabs of the events page
  apps/admin-ui/src/events/EventsSection.tsx
Labels: kind/enhancement, area/section/events, area/admin/ui

#4137 Use React Router v6 for the routable tabs of the user profile page
  apps/admin-ui/src/realm-settings/user-profile/UserProfileTab.tsx
Labels: kind/enhancement, area/section/realm settings, area/account/ui

#4136 Use React Router v6 for the routable tabs of the identity provider page
  apps/admin-ui/src/identity-providers/add/DetailSettings.tsx
Labels: kind/enhancement, area/section/identity providers, area/admin/ui

#4141 Split out role form for realm and client in seperate components
  apps/admin-ui/cypress/e2e/realm_roles_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/providers/ProviderPage.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/realm_roles/CreateRealmRolePage.ts
  apps/admin-ui/src/clients/roles/CreateClientRole.tsx
  apps/admin-ui/src/clients/routes.ts
  apps/admin-ui/src/clients/routes/NewRole.ts
  apps/admin-ui/src/components/role-form/RoleForm.tsx
  apps/admin-ui/src/realm-roles/CreateRealmRole.tsx
  apps/admin-ui/src/realm-roles/RealmRoleTabs.tsx
  apps/admin-ui/src/realm-roles/RolesList.tsx
  apps/admin-ui/src/realm-roles/routes.ts
  apps/admin-ui/src/realm-roles/routes/AddRole.ts
  apps/admin-ui/src/realm-roles/routes/AddRoleToClient.ts
Labels: kind/enhancement, area/section/clients, area/section/realm roles, area/admin/ui

#4168 Upgrade `PageNav` component to React Router v6
  apps/admin-ui/src/PageNav.tsx
Labels: kind/enhancement, area/admin/ui

#4177 Refactor user federation providers to React Router v6
  apps/admin-ui/src/components/keycloak-card/KeycloakCard.tsx
  apps/admin-ui/src/user-federation/UserFederationSection.tsx
  apps/admin-ui/src/user-federation/custom/CustomProviderSettings.tsx
  apps/admin-ui/src/user-federation/routes.ts
  apps/admin-ui/src/user-federation/routes/CustomUserFederation.ts
  apps/admin-ui/src/user-federation/routes/NewCustomUserFederation.ts
  apps/admin-ui/src/user-federation/routes/NewProvider.ts
  apps/admin-ui/src/user-federation/shared/Header.tsx
Labels: kind/enhancement, area/section/identity providers, area/admin/ui

#4180 Remove unused DataLoader component
  apps/admin-ui/src/components/data-loader/DataLoader.test.tsx
  apps/admin-ui/src/components/data-loader/DataLoader.tsx
Labels: kind/enhancement, area/admin/ui

#4181 Refactor client scope mapping to React Router v6
  apps/admin-ui/src/client-scopes/details/MappingDetails.tsx
Labels: kind/enhancement, area/section/client scopes, area/admin/ui

#4183 Refactor OpenID Connect IDP to use React Router v6
  apps/admin-ui/src/identity-providers/add/AddOpenIdConnect.tsx
Labels: kind/enhancement, area/section/identity providers, area/admin/ui

#4187 Refactor roles list to React Router v6
  apps/admin-ui/src/clients/ClientDetails.tsx
  apps/admin-ui/src/clients/roles/CreateClientRole.tsx
  apps/admin-ui/src/clients/routes.ts
  apps/admin-ui/src/clients/routes/ClientRole.ts
  apps/admin-ui/src/components/roles-list/RolesList.css
  apps/admin-ui/src/components/roles-list/RolesList.tsx
  apps/admin-ui/src/events/ResourceLinks.tsx
  apps/admin-ui/src/realm-roles/RealmRoleTabs.tsx
  apps/admin-ui/src/realm-roles/RealmRolesSection.tsx
  apps/admin-ui/src/realm-roles/UsersInRoleTab.tsx
  apps/admin-ui/src/realm-roles/routes.ts
  apps/admin-ui/src/realm-roles/routes/RealmRole.ts
Labels: kind/enhancement, area/section/clients, area/section/realm roles, area/admin/ui

#4188 Refactor realm keys providers to React Router v6
  apps/admin-ui/src/realm-settings/keys/KeysProvidersTab.tsx
Labels: kind/enhancement, area/section/realm settings, area/admin/ui

#4189 Remove unused `SearchUser` component
  apps/admin-ui/src/user/SearchUser.tsx
Labels: kind/enhancement, area/admin/ui

#4194 Reduce excessive re-renders for realm & client roles tab
  apps/admin-ui/cypress/e2e/clients_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/clients/ClientRolesTab.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/realm_roles/CreateRealmRolePage.ts
  apps/admin-ui/src/realm-roles/RealmRoleTabs.tsx
Labels: kind/bug, area/integration-tests, area/section/clients, area/section/realm roles, area/admin/ui

#4184 Refactor realms & client roles to React Router v6
  apps/admin-ui/src/clients/routes/ClientRole.ts
  apps/admin-ui/src/realm-roles/RealmRoleTabs.tsx
Labels: kind/enhancement, area/section/clients, area/section/realm roles, area/admin/ui

#3963 Use routable tabs for realm role details
  apps/admin-ui/cypress/support/pages/admin-ui/manage/clients/ClientRolesTab.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/realm_roles/CreateRealmRolePage.ts
  apps/admin-ui/public/resources/en/common.json
  apps/admin-ui/src/components/keycloak-tabs/KeycloakTabs.tsx
  apps/admin-ui/src/components/routable-tabs/RoutableTabs.tsx
  apps/admin-ui/src/realm-roles/RealmRoleTabs.tsx
  apps/admin-ui/src/realm-roles/routes/RealmRole.ts
Labels: kind/enhancement, area/admin/ui

#4197 Re-use `toTabs()` function in `RealmRoleTabs` component
  apps/admin-ui/src/realm-roles/RealmRoleTabs.tsx
Labels: kind/enhancement, area/section/clients, area/section/realm roles, area/admin/ui

#4175 Use correct path for imports of the Admin Client
  apps/admin-ui/src/clients/advanced/AdvancedSettings.tsx
  apps/admin-ui/src/components/dynamic/GroupComponent.tsx
  apps/admin-ui/src/identity-providers/add/DescriptorSettings.tsx
  apps/admin-ui/src/identity-providers/add/DiscoverySettings.tsx
  apps/admin-ui/src/identity-providers/component/ClientIdSecret.tsx
  apps/admin-ui/src/identity-providers/component/ExtendedFieldsForm.tsx
  apps/admin-ui/src/realm-settings/user-profile/attribute/AddValidatorDialog.tsx
  apps/admin-ui/src/realm-settings/user-profile/attribute/AddValidatorRoleDialog.tsx
  apps/admin-ui/src/user-federation/ldap/mappers/LdapMapperDetails.tsx
Labels: kind/bug, area/admin/ui

#4146 fix broken links and update old ones
  libs/keycloak-admin-client/README.md
Labels: kind/bug, area/documentation, area/admin/client

#4081 Short verification_uri for Device Authorization Request
  apps/admin-ui/public/resources/en/realm-settings-help.json
  apps/admin-ui/public/resources/en/realm-settings.json
  apps/admin-ui/src/realm-settings/TokensTab.tsx
Labels: kind/feature, area/section/realm settings, area/admin/ui

#4231 Move Admin REST extension to main repository
  apps/admin-ui/cypress/support/pages/admin-ui/ListingPage.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/groups/GroupPage.ts
  apps/admin-ui/src/authentication/AuthenticationSection.tsx
  apps/admin-ui/src/components/role-mapping/resource.ts
  apps/admin-ui/src/groups/GroupTable.tsx
  apps/admin-ui/src/groups/components/GroupTree.tsx
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/AuthenticationManagementProvider.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/AuthenticationManagementResource.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/AvailableRoleMappingProvider.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/AvailableRoleMappingResource.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/BruteForceUsersProvider.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/BruteForceUsersResource.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/EffectiveRoleMappingProvider.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/EffectiveRoleMappingResource.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/GroupsResource.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/GroupsResourceProvider.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/RoleMappingResource.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/model/Authentication.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/model/AuthenticationMapper.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/model/BruteUser.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/model/ClientRole.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/model/RoleMapper.java
  keycloak-theme/src/main/java/org/keycloak/admin/ui/rest/model/UsedBy.java
  keycloak-theme/src/main/resources/META-INF/services/org.keycloak.services.resources.admin.ext.AdminRealmResourceProviderFactory
Labels: kind/enhancement, area/admin/ui

#4234 Upgrade `react-flow-renderer` to version 10
  apps/admin-ui/package.json
  apps/admin-ui/src/authentication/components/FlowDiagram.tsx
  apps/admin-ui/src/authentication/components/diagram/ButtonEdge.tsx
  apps/admin-ui/src/authentication/components/diagram/auto-layout.ts
  apps/admin-ui/src/utils/useUpdateEffect.ts
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/section/authentication, area/admin/ui

#4233 Omit `FunctionComponent` or replace it with `PropsWithChildren`
  apps/account-ui/package.json
  apps/account-ui/src/components/alerts/Alerts.tsx
  apps/account-ui/src/components/page/Page.tsx
  apps/account-ui/src/root/PageNav.tsx
  apps/admin-ui/CODING_GUIDELINES.md
  apps/admin-ui/package.json
  apps/admin-ui/src/App.tsx
  apps/admin-ui/src/PageNav.tsx
  apps/admin-ui/src/clients/authorization/policy/PolicyDetails.tsx
  apps/admin-ui/src/components/alert/Alerts.tsx
  apps/admin-ui/src/components/dynamic/components.ts
  apps/admin-ui/src/components/form-access/FormAccess.tsx
  apps/admin-ui/src/components/help-enabler/HelpHeader.tsx
  apps/admin-ui/src/components/json-file-upload/patternfly/FileUpload.tsx
  apps/admin-ui/src/components/json-file-upload/patternfly/FileUploadField.tsx
  apps/admin-ui/src/components/scroll-form/FormPanel.tsx
  apps/admin-ui/src/components/scroll-form/ScrollForm.tsx
  apps/admin-ui/src/components/scroll-form/ScrollPanel.tsx
  apps/admin-ui/src/components/table-toolbar/PaginatingTableToolbar.tsx
  apps/admin-ui/src/components/table-toolbar/TableToolbar.tsx
  apps/admin-ui/src/context/RealmsContext.tsx
  apps/admin-ui/src/context/access/Access.tsx
  apps/admin-ui/src/context/realm-context/RealmContext.tsx
  apps/admin-ui/src/context/server-info/ServerInfoProvider.tsx
  apps/admin-ui/src/context/whoami/WhoAmI.tsx
  apps/admin-ui/src/events/AdminEvents.tsx
  apps/admin-ui/src/groups/SubGroupsContext.tsx
  apps/admin-ui/src/identity-providers/component/FormGroupField.tsx
  apps/admin-ui/src/realm-settings/user-profile/UserProfileContext.tsx
  libs/keycloak-masthead/package.json
  libs/keycloak-masthead/src/translation/TranslationsContext.tsx
  package-lock.json
Labels: kind/enhancement, area/account/ui, area/admin/ui

#4236 Upgrade `reactflow` to version 11
  .github/dependabot.yml
  apps/admin-ui/package.json
  apps/admin-ui/src/authentication/components/FlowDiagram.tsx
  apps/admin-ui/src/authentication/components/diagram/ButtonEdge.tsx
  apps/admin-ui/src/authentication/components/diagram/ConditionalNode.tsx
  apps/admin-ui/src/authentication/components/diagram/SubFlowNode.tsx
  apps/admin-ui/src/authentication/components/diagram/auto-layout.ts
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/section/authentication, area/admin/ui

#4240 Add "Encryption algorithm" option of SAML IDP
  apps/admin-ui/public/resources/en/identity-providers-help.json
  apps/admin-ui/public/resources/en/identity-providers.json
  apps/admin-ui/src/identity-providers/add/DescriptorSettings.tsx
Labels: kind/enhancement, area/section/identity providers, area/admin/ui

#4145 Client assertion signature configuration of identity broker is missing on new security admin console
  apps/admin-ui/cypress/WRITING_TESTS.md
  apps/admin-ui/cypress/e2e/identity_providers_oidc_test.spec.ts
  apps/admin-ui/cypress/support/pages/admin-ui/manage/identity_providers/ProviderBaseAdvancedSettingsPage.ts
  apps/admin-ui/public/resources/en/identity-providers-help.json
  apps/admin-ui/public/resources/en/identity-providers.json
  apps/admin-ui/public/resources/ja/identity-providers-help.json
  apps/admin-ui/public/resources/ja/identity-providers.json
  apps/admin-ui/src/identity-providers/add/OIDCAuthentication.tsx
Labels: kind/bug, area/section/identity providers, area/admin/ui

#4249 Align new admin console with the 'KERBEROS' feature
  apps/admin-ui/src/user-federation/UserFederationLdapForm.tsx
  apps/admin-ui/src/user-federation/UserFederationLdapWizard.tsx
Labels: kind/enhancement, area/section/user federation, area/admin/ui

#4260 Upgrade `i18next` and `react-18next` to latest version
  apps/account-ui/package.json
  apps/account-ui/src/components/alerts/Alerts.tsx
  apps/account-ui/src/components/continue-cancel/ContinueCancelModel.tsx
  apps/account-ui/src/i18next.d.ts
  apps/admin-ui/cypress/tsconfig.json
  apps/admin-ui/package.json
  apps/admin-ui/src/clients/initial-access/InitialAccessTokenList.tsx
  apps/admin-ui/src/i18n.ts
  apps/admin-ui/src/i18next.d.ts
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/account/ui, area/admin/ui

#4261 Re-enable Dependabot updates for `react-form-hook`
  .github/dependabot.yml
Labels: kind/bug, area/dependencies

#4268 Regenerate lockfile in v3 format
  apps/account-ui/package.json
  apps/admin-ui/package.json
  package-lock.json
Labels: kind/enhancement, area/dependencies

#4248 Update PatternFly to 4.224
  apps/account-ui/package.json
  apps/account-ui/src/resources/ResourceToolbar.tsx
  apps/admin-ui/package.json
  apps/admin-ui/src/clients/authorization/policy/Time.tsx
  apps/admin-ui/src/components/table-toolbar/TableToolbar.tsx
  apps/admin-ui/src/events/AdminEvents.tsx
  apps/admin-ui/src/events/EventsSection.tsx
  apps/admin-ui/src/groups/GroupTable.tsx
  libs/keycloak-masthead/package.json
  package-lock.json
Labels: kind/enhancement, area/dependencies, area/account/ui, area/admin/ui

#4292 Introduce linting rule warn about nested components
  .eslintrc.js
Labels: kind/enhancement
